body {
    background: #112d4e;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 20px
}
