@font-face {
    font-family: "Avigea";
    src: local("Avigea"), url('public/fonts/Avigea.ttf') format("truetype");
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url('public/fonts/WorkSans.ttf') format("truetype");
}

* {
    --radius: 8px;
    --gap: 8px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
}

body {
    background: #112d4e url("public/images/background.png") repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: #f9f7f7;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: var(--gap);
}
