@font-face {
    font-family: "Avigea";
    src: local("Avigea"), url('public/fonts/Avigea.ttf') format("truetype");
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"), url('public/fonts/WorkSans.ttf') format("truetype");
}

body {
    background: #112d4e;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 20px
}
